.jcarousel-skin-ie7 .jcarousel-container {}

.jcarousel-skin-ie7 .jcarousel-container-horizontal {
    width: 195px;
	height:150px;
    padding: 5px 10px;
}

.jcarousel-skin-ie7 .jcarousel-container-vertical {
    width: 195px;
	height:150px;
    padding: 5px;
}

.jcarousel-skin-ie7 .jcarousel-clip-horizontal {
    width:  195px;
	height:150px;
}

.jcarousel-skin-ie7 .jcarousel-clip-vertical {
    width:  195px;
	height:150px;
}

.jcarousel-skin-ie7 .jcarousel-item {
    width: 195px;
	height:150px;
}

.jcarousel-skin-ie7 .jcarousel-item-horizontal {}

.jcarousel-skin-ie7 .jcarousel-item-vertical {}

.jcarousel-skin-ie7 .jcarousel-item-placeholder {}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-ie7 .jcarousel-next-horizontal {
    display: none;
}

.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
    display: none;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-ie7 .jcarousel-next-vertical {
    display: none;
}

.jcarousel-skin-ie7 .jcarousel-prev-vertical {
    display: none;
}