.jcarousel-skin-ie7 .jcarousel-container {
    padding:0 5px;
	margin:0;
}

.jcarousel-skin-ie7 .jcarousel-container-horizontal {
    max-width: 205px;
    height: 295px;
}

.jcarousel-skin-ie7 .jcarousel-container-vertical {
    max-width: 205px;
    height: 295px;
}

.jcarousel-skin-ie7 .jcarousel-clip-horizontal {
    max-width:  195px;
    height: 295px;
}

.jcarousel-skin-ie7 .jcarousel-clip-vertical {
    max-width:  195px;
    height: 295px;
}

.jcarousel-skin-ie7 .jcarousel-item {
    max-width: 195px;
    height: 295px;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-ie7 .jcarousel-next-horizontal {
    display:none;
}
.jcarousel-skin-ie7 .jcarousel-prev-horizontal {
    display:none;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-ie7 .jcarousel-next-vertical {
    display:none;
}
.jcarousel-skin-ie7 .jcarousel-prev-vertical {
    display:none;
}
